*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: nome;
    font-family: "Montserrat", sans-serif;
}
header{
    width: 100%;
    background-color: #ffe600;
    padding: 10px 90px ;
}
#primeiradiv{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 150px;
    object-fit: cover;
    cursor: pointer;
}

.inputs{
    width: 590px;
    display: flex;
    align-items: center;
    margin-left: -22px;
    background-color: #fff;
}

.inputs input{
    width: 590px;
    padding: 10px 20px 10px 16px;
    right: 40px;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.inputs label{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputs label::before{
    content: '';
    width: 1px;
    height: 20px;
    color: rgba(0,0,0,0.55);
    margin-right: 10px;
    opacity: 0.3;
}

.inputs label i{
    font-size: 21px;
    color: rgba(0,0,0,0.55);
    margin-bottom: 4px;
}